.myDiv1, .myDiv2, .myDiv3, .myDiv4, .myDiv5 {
    border: 1px outset black;
    text-align: center;
    padding: 20px;
    margin: 10px;
    width: 150px;
}

.ocupado {
    background-color: blue;
}

.manutencao {
    background-color: lightgray;
}

.vazio {
    background-color: lightblue;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
